@{
  Layout = "Shared/_Layout.cshtml";
}

<form action="/client_added" method="post">
  <label for="new-client">Client Name:</label>
  <input id="new-client" name="new-client" type="text">
  <button type="submit">Submit</button>
</form>
