@{
  Layout = "Shared/_Layout.cshtml";
}
<h2>Edit client: @Model.Name</h2>
<form action="/client/edit/@Model.Id" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="client-id" type="hidden" value="@Model.Id">
  <label for="client-name">Client name</label>
  <input id="client-name" name="client-name" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
