<h1>My Hair Salon</h1>
<hr/>
<h2>Are you sure you want to delete this stylist?</h2>
<h4>@Model.GetName()</h4>
<form action="/stylist/delete/@Model.Id" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
