@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>@Model["stylist"].Name</h3><br>

<h2>is available: @Model["stylist"].Availability</h2><br>

  <h2>current clients:</h2>
    @foreach(var client in @Model["clients"])
    {
      <li>client.Name</li>
    }
